.mainCont{
    display: flex;
    padding-left: 7rem;
}

.secondCont{
    padding-left: 20rem;
    padding-top: 1.3rem;


}

.secondCont > img{
    width: 5rem;
    height: 3rem;
    padding-left: 7rem;
}

.secondCont > h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
}

.secondCont > p{
    font-weight: 200;
    font-size: 11px;
    line-height: 20px;
    color: #717171;
}